
 h1 {
color: purple;

}

th{ 
    background-color:red;
}
td {
    background-color:rgb(0, 217, 255)
}
nav {
    text-align: center;
    font-size: 20px;
    
}
table{
   margin: auto;
}
p{
    margin: auto;
    align-items: center;
}