body{ 
    background: rgb(174, 51, 51); 
    color: aliceblue; 
    font-family: sans-serif;}

#list{
    background-color: rgb(12, 207, 207);
    color: black;

}

#list th{
    color: antiquewhite;
    background-color: black;
    width: 100%;
    /* text-align: center; */
}
select, table, button, img{
    margin: 1rem;
}
.thumb{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}
.gigantic{
    width: 100vw;
    height: 100vw;
    object-fit: cover;
}
.dialog{
    width: 98vw;
    height: 98vw;
    border: 1px solid black;
    position: fixed;
    top: 1vh;
    left: 1vw;
    background-color: white;
    box-shadow: 1vw 1vh 3vh 3vw black;
}
.dialog.hidden{
    display: none;
}
.title{
    background-color: black;
    text-align: center;
}